/* importer  le lien de la typo de google fonts  */

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

/*  style général */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

/* style Nom du site LUMINAIRE  */
#nomsite {
  font-family: 'garmond';
  /* 'Aclonica', sans-serif; */
  color: #ffde59;
  font-style: italic;
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;

}

/* style de navbar normal */
.navbar {
  display: flex;
  justify-content: center;

}

.navbar a {
  text-decoration: none;
  font-style: italic;
  color: black;
  text-transform: capitalize;
  font-size: 11px;
  font-weight: bold;

}

.navbar a:hover {

  color: #0cc0df;


}

/* style  formulaire de recherche  */
.form-control {
  font-size: 10px;
}

/*  positionnement de la barre */

/*  pour le js */
/* nav bar mobile */

.navbar-mobile-listes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 55vh;
  /* "viewport height" (hauteur de la fenêtre d'affichage).  */

}

.navbar-mobile-listes a {
  text-decoration: none;
  color: black;
  font-size: 8px;
  text-transform: capitalize;
  font-weight: bold;

}

.navbar-mobile-listes a:hover {

  color: #0cc0df;


}

/* Style du menu burger */
#bouton {
  position: fixed;
  top: -25px;
  left: 15px;
  font-weight: bold;
  font-size: 30px;
}

/*  style de menu  */
#pmenu {
  position: fixed;
  top: 4px;
  left: 70px;
  font-weight: bold;
}

/*  style de la div qui contient les lien de la nav bar mobile */
.modale {
  position: fixed;
  left: 0px;
  top: -100vh;
  background-color: #f0f0f2;
  width: 50%;
  z-index: 1999;
  transition: top 0.9s;
  height: 300px;

}

/*  style  de modal en md et ms  ce qui permet de l'afficher  */
.modale-change {
  top: 100px;
}

/*  styles des icons header  */

header i {
  padding: 20px;
  font-size: 17px;

}

/*  style logo du site  */
header img {
  height: 80px;
  width: 80px;

}

/*  style connexion, panier ,contact  */
.pheader {
  font-size: 8px;

}

/*  fin style header  */


/*  style main */

span {
  background-color: #ffbd59;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* style div video  */

.divideo {
  position: relative;
  width: 100%;
  background-color: #000;

}

.titrevideo {
  color: #f0f0f2;
  position: absolute;
  bottom: 50%;
  left: 10%;
  font-family: 'garmond';
  font-style: italic;

}

#video {
  display: block;
  width: 400px;
  margin: 0 auto;
  height: 25rem;
}

/*  bouton découvrir sur la video  */
.decouvrir {
  color: #f0f0f2;
  position: absolute;
  bottom: 10%;
  right: 10%;
  border: solid 1px white;
  background-color: #0cc0df;
  border-radius: 30px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  font-size: 20px;

}

/*  fin style video */

/* style h2 */
h2 {
  font-style: italic;
  font-size: 20px;
  font-family: 'garmond';

}


/* style card */
.card {
  transition: transform 0.3s;
  /* transition": C'est la propriété CSS qui permet de définir une transition pour les changements d'état d'un élément. */
}

.card:hover {
  transform: scale(1.07);
  /* "transform": C'est la propriété CSS qui permet d'appliquer des transformations ( la rotation, le déplacement, etc.) à un élément.
  "0.3s": C'est la durée de la transition  */
  /*  scale(1.07) permet grandir l'element de 7% a sa taille d'origine */
}

.pprix {
  font-weight: bold;
  color: #ffde59;
}

/* fin style card  */


/* style circle  dans section pub */

.box {
  position: relative;
  color: #9959ff;
  transition: transforme 0.4s cubic-bezier(0.23, 1.83, 0.42, 1.19);
  /*cubic-bezier(0.23, 1.83, 0.42, 1.19) définit la courbe de vitesse de la transition. */

}

.box p {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
}

.circle {
  width: 50px;
  height: 50px;
  border: 3px solid #f1f1f1;
  border-radius: 50%;
  /*animation:  propriété CSS pour faire animation sur un element boxMagic le nom d'animation 
   1s : duré de l'animation ,Linear: animation progresse linear , infinte , alterne direction :*/
  animation: 1s linear infinite alternate boxMagic,
    4s linear infinite spinning;
  padding-top: 60px;
  /*  pour deformer le circcle il depasse 320 et box sizinz a revoir  */
}

/* @keyframes est une règle CSS qui permet de définir des étapes spécifiques d'une animation.  */
@keyframes boxMagic {
  from {
    box-shadow:
      /*  l'ombre composé de plusieurs couches  */
      0 0 0 #feac5e,
      /* une  ombre avec décalage horizontale , verticale , flou */
      0 0 0 #c779d0,
      0 0 0 #4bc0c8,
      0 0 0 #42db75;
  }

  to {
    box-shadow:
      0 -10px 0 #feac5e,
      -10px 0 0 #c779d0,
      0 10px 0 #4bc0c8,
      10px 0 0 #42db75;
  }
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
    /*  pas de rotation */
  }

  to {
    transform: rotate(360deg);
    /* rotation de 360deg */
  }
}

/*  fin style cyrcle */

/*  style boutique */


.boutique a {
  color: #f0f0f2;
  border: solid 1px white;
  background-color: #0cc0df;
  border-radius: 30px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  font-size: 10px;
  text-transform: capitalize;
}

/*  fin style boutique */


#imgext {
  width: 210px;
  height: 175px;
}

.salon {
  position: relative;
}

.liensalon {
  position: absolute;
  bottom: -2%;


}

.cuisine {
  position: relative;
}

.liencuisine {
  position: absolute;
  bottom: -2%;

}

.chambre {
  position: relative;
}

.lienchambre {
  position: absolute;
  bottom: -2%;

}

.sallebain {
  position: relative;
}

.liensallebain {
  position: absolute;
  bottom: -3%;

}

.exterieur {
  position: relative;
}

.lienexterieur {
  position: absolute;
  bottom: -3%;

}

/* fin style js boutique  */

/* style footer */


#containerfooter {
  background-color: #a6a6a6;
  width: 100%;


}

footer i {
  padding: 10px;
  font-weight: bold;
  font-size: 20px;


}

footer a {

  text-decoration: none;
  font-size: 10px;
  font-weight: bold;
}

footer p {
  font-size: 10px;
  font-weight: bold;

}

.custom-footer{
  margin-left: 0;
  margin-right: 0;

}


/*  page apropos */
.pageapropos {
  position: relative;
}

.textpageapropos {
  position: absolute;
  left: 10%;
  top: 10%;
  background-color: #f1f1f1;
}

h4 {
  font-size: 15px;
  font-style: italic;
  text-transform: uppercase;

}

h3 {
  font-size: 15px;
  text-transform: uppercase;
}

p {
  font-size: 15px;

}

/*  page profil */
.profil {
  font-weight: bold;
  font-style: italic;
  color: #fff;
}